.container_card {
  transition: 1s;
  width: 390px;
  height: auto;
  margin-top: 2rem;
  padding: 1px;
  box-sizing: border-box;
  transition: 0.6s;
  border-radius: 5%;
}

.card_img,
img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5%;
}

.card_text_title {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.card_text_footer {
  margin-top: 1rem;
  display: flex;
  padding: 0px 1rem;
  justify-content: space-between;
  font-size: 1rem;
}

.card_seccion_btn {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.container_card:hover {
  z-index: 5;
  cursor: progress;
  border-radius: 5%;
  box-shadow: 10px 10px 10px 0px rgba(8, 8, 8, 0.56);
}

/*styles card favorites*/
.container_card_favorites {
  transition: 1s;
  width: 390px;
  height: auto;
  margin-top: 2rem;
  padding: 1px;
  box-sizing: border-box;
  transition: 0.6s;
  border-radius: 5%;
  background-color: #f9fbfd;
}

.card_img_favorites {
  width: 100%;
  height: 250px;
  border-radius: 5%;
}

.card_img_favorites img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_text_title_favorites {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.card_text_footer_favorites {
  margin-top: 1rem;
  display: flex;
  padding: 1.5rem 0.5rem;
  justify-content: space-between;
  font-size: 1rem;
  box-sizing: border-box;
}

.card_seccion_btn_favorites {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  align-content: center;
}

.container_card_favorites:hover {
  z-index: 5;
  cursor: progress;
  border-radius: 5%;
  box-shadow: 10px 10px 10px 0px rgba(8, 8, 8, 0.56);
}

/*styles infoRutas*/
.content_infoRuta {
  transition: 0.5s;
  margin-top: 5rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(210, 203, 203, 0.1);
  padding: 2rem;
  box-sizing: border-box;
}

.content_infoRuta:hover {
  background-color: rgba(235, 233, 233, 0.5);
  cursor: progress;
}

.img_infoRuta {
  width: 32%;
  height: auto;
  margin-left: 1rem;
}

.img_content {
  box-shadow: 0px 0px 14px 0px rgba(147, 146, 147, 0.92);
  border: 1px solid grey;
}

.datos_infoRuta {
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: bolder;
}

.map_infoRuta {
  width: 32%;
  height: auto;
  margin-right: 1rem;
}

.map {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 14px 0px rgba(147, 146, 147, 0.92);
}
/*media queries c */

/*media queries infoRutas*/
@media (min-width: 400px) and (max-width: 1134px) {
  .content_infoRuta {
    transition: 0.5s;
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(210, 203, 203, 0.1);
    padding: 2rem;
    box-sizing: border-box;
  }

  .img_infoRuta {
    width: 100%;
    height: 33%;
    margin-left: 1rem;
  }

  .datos_infoRuta {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    margin: 2rem 0;
  }

  .map_infoRuta {
    width: 100%;
    height: 300px;
  }
}
