.container_card {
  transition: 0.8s;
  width: 390px;
  height: auto;
  margin-top: 2rem;
  padding: 1px;
  box-sizing: border-box;
  transition: 0.6s;
  border-radius: 5%;
}

.card_img,
img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5%;
}

.card_text_title {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.card_text_footer {
  margin-top: 1rem;
  display: flex;
  padding: 0px 1rem;
  justify-content: space-between;
  font-size: 1rem;
}

.container_card:hover {
  width: 395px;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 10px 10px 10px 0px rgba(8, 8, 8, 0.56);
}
